body {
  background-color: #000;
  color: #c1a46d;
}

.navbar-brand, .nav-link {
  font-weight: bold;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 0.95rem;
}

footer {
  border-top: 1px solid #c1a46d33;
}
